.login-view {
  em{
    font-style: normal;
  }
  height: 100%;
  overflow: hidden;
  background: url(../assets/images/bg.jpg) center -130px no-repeat;
  color: #FFF;
  font-family: "Microsoft Yahei";
  &,
  & * {
    box-sizing: content-box;
  }

  .container {
    width:80%;
    min-width: 960px;
    margin: 135px auto 0;
    *zoom: 1;
    background: transparent;
    .secL {
      float: left;
      font-weight: bold;
      clear: both;
      margin: 90px 0 0 104px;
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 16px;
        line-height: 40px;
        margin-top: 30px;
      }
    }

    .secR {
      float: right;
      position: relative;
      padding: 40px 35px 40px 45px;
      width: 270px;
      height: 300px;
    }
  }
  .box-bg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    background-color: #141924;
  }
  .form {
    position: absolute;
  }
  .form h1 {
    font-size: 18px;
  }
  .form p {
    font-size: 14px;
    color: #e9e9e9;
    margin-top: 15px;
  }
  .f9c442 {
    color: #f9c442;
  }
  .form .item {
    margin-top: 15px;
    width: 255px;
  }
  .form .item label {
    width: 44px;
    height: 44px;
    background: #aaabab;
    border: none;
    display: block;
    float: left;
    font-size:20px;
    text-align: center;
    line-height:44px;
  }
  .form .itempass label {
    background-position: center -28px;
  }
  .form .item input {
    width: 210px;
    height: 30px;
    padding: 7px 0;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 30px;
    text-indent: .5em;
    float: left;
    color: #333;
    font-weight: bold;
  }
  .form .validatepic input {
    width: 100px;
    margin: 0 10px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    float: none;
  }
  .form .validatepic a.changepic {
    color: #e0e0e0;
  }
  .form .btn{
    box-sizing: border-box;
    border-radius: 0;
  }
  .form .tips{
    font-size:12px;
    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


