<section class="login-view">
  <div class="container clearfix">
    <!-----------------页面左侧文字------------------>
    <div class="secL">
      <h2>通用CRM管理云平台</h2>

      <p>
        融合呼叫中心、CRM、OA办公、企业微信等多<br> 种应用，基于云计算SaaS平台架构，随时随地只<br> 要有网络的地方都可使用，超过20万家企业见证<br> 其安全稳定可靠，值得信赖。
      </p>
    </div>

    <!-----------------页面右侧表单------------------>
    <div class="secR">
      <!-----页面右侧透明背景----->
      <div class="box-bg"></div>
      <!--------表单内容------------>
      <form name="loginForm" ng-submit="login.submit()">
        <div class="form">
          <h1>登录平台</h1>

          <p>
            请用<span class="f9c442"> 手机号码 </span>作为用户名登录
          </p>

          <div class="item clearfix">
            <label for="userNameIpt">
              <i class="ion-person"></i>
            </label>
            <input type="text" autocomplete="off" tabindex="1" id="userNameIpt" placeholder="请输入用户名"
                   ng-model="login.user.username" required/>
          </div>
          <div class="item itempass clearfix">
            <label for="password">
              <i class="ion-locked"></i>
            </label>
            <input type="password" tabindex="2" id="password" name="password" ng-model="login.user.password"
                   autocomplete="off" placeholder="请输入密码" required/>
          </div>
          <div class="item clearfix">
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-lg col-md-12" tabindex="5">
              登&nbsp;&nbsp;录
            </button>
          </div>

          <div class="item tips">
            <span>
              <a href="#">忘记了密码？</a>还没有账号？
            </span>

            <em>
              <a href="#">立即注册»</a>
            </em>
          </div>
        </div>
      </form>
    </div>
  </div>


</section>


