/**permission Start**/
.blank10,
.blank20{
  clear: both;
  display: block;
  overflow: hidden;
}
.blank10{
  height:10px;
}
.blank20{
  height:20px;
}
#permission_list_view{

  .list-detail{
    .sub-category{
      padding:5px 0;
    }
  }
}
/**permission  End**/
