.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  min-height: 100%;
  background: #273241;
  z-index: 10;
  transition: width 0.3s;
  overflow: hidden;
  .logo {
    height: 180px;
    background: url(../assets/images/logo-2.png) no-repeat center;
    background-size: 74px 87px;
  }
  .item-list {
    padding: 0;
    .item {
      padding-left:20px;

      a {
        cursor: pointer;
        display: block;
        height:40px;
        line-height:40px;
        color:#fff;
        >*{
          display: inline-block;
          vertical-align: middle;
        }
        i {
          font-size:18px;
        }
        span {
        }
      }

      &.active{
        background: lighten(#273241,10%);
        a{
          color:#32B87C;
        }
      }
    }
  }
}



.hide-aside{
  .side-nav{
    width:0;
  }
  .main-content{
    padding-left: 0;
    .header .toggle{
      padding-left: 15px;
    }
  }
  .view-title{
    padding-left: 20px;
  }

  .toggle{
    color:$brand-warning;
  }
}

